<article class="post">
    <div class="card">
        <div class="card-title">
            <a href="/dashboard/edit/{{id}}">{{post_title}}</a>
        </div>
        <div class="card-body">
            <div>
                <p>{{post_text}}</p>
                <footer class="blockquote">
                    Posted by {{user.username}} on
                    {{format_date created_at}}
                </footer>
            </div>
        </div>
    </div>
</article>